body{
  margin: 0;
  padding: 0;
}
.form-in{
  width: 70%;
  height: 650px;
  margin: 0 auto;
}
.container{
  padding-top: 100px;
}
form {
  width: 600px;
  height: 500px;
  margin: 20px auto;
  padding: 10px 20px;
  background: #FFFFFF;
  opacity: 0.8;
  border-radius: 8px;
}
label{
  font-family: Rajdhaniku;
}
.lab-tel{
    margin-right: 250px;
    float: right;
}
.nama{
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 13px;
  height: 15px;
  margin: 0;
  outline: 0;
  padding: 11px;
  width: 570px;
  background-color: #E3E2E2;
  color: #000;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 10px;
}
.email , .telepon{
 background: rgba(255,255,255,0.1);
  border: none;
  font-size: 13px;
  height: 15px;
  margin: 0;
  outline: 0;
  padding: 11px;
  width: 271px;
  background-color: #E3E2E2;
  color: #000;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 10px;
}
.tmp-lahir{
  background: #2C2826;
  border: none;
  font-size: 13px;
  height: 15px;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 242px;
  background-color: #E3E2E2;
  color: #000;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 10px;
}
.tanggal , .bulan , .tahun {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 13px;
  height: 45px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 102px;
  background-color: #E3E2E2;
  color: #000;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 10px;
}
.cov-let{
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 13px;
  height: 70px;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 563px;
  background-color: #E3E2E2;
  color: #000;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 10px;
  resize: none;
}
.posisi{
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 13px;
  height: 40px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 593px;
  background-color: #E3E2E2;
  color: #000;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 10px;
}
.cv{
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 13px;
  height: 35px;
  margin: 0;
  outline: 0;
  width: 517px;
  background-color: #E3E2E2;
  color: #000;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 10px;
}
.button{
  font-size: 17px;
  font-family: Rajdhaniku;
  width: 110px;
  height: 45px;
  color: #FFF;
  border:none;
  background-color: #F37429;
  margin-right: 8px; 
  float: right;
}
.button:hover{
  color: #000;
  background-color: #FFDA39;
}