body{
	padding: 0;
	margin: 0;
}
@font-face {
font-family: Rajdhaniku;
src: local('Rajdhani'), url('../font/Rajdhani-SemiBold.ttf') format('truetype');
}
@font-face{
font-family: Notice;
src: local('NoticiaText'), url('../font/NoticiaText-Bold.ttf') format('truetype');
}
.bungkus{
	width: 1200px;
	height: auto; 
	margin: 0 auto;
	box-sizing: border-box;
}
.header{
	width: 1200px;
	height: auto;
	background-color: #FFFFFF;
	float: left;
	position: fixed;
	z-index: 90;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}
.head-kiri{
	width: 60%;
	height: 90px;
	float: left;
	background-color: #FFFFFF;
}
.logo{
	width: 200px;
	height: 45px;
	padding-top: 20px;
	padding-left: 20px;
}
.head-kanan{
	width: 40%;
	height: 90px;
	float: left;  
	box-sizing: border-box;
	background-color: #FFFFFF;
}
.head-kanan ul{
	width:	100%;
	height:	90px;
	margin: 0;
    padding: 0;
	float:left;
	display: inline-block;
	list-style-type: none;
	box-sizing:border-box;
	overflow: hidden;
	background-color: #FFFFFF;
}
.head-kanan ul li{
	width: 120px;
	height: 94px;
    float: left;
	display: inline-block;
	position: relative; 
	text-align: center;
}
.head-kanan ul li a{
	display: inline-block;
	height: 94px;
	width: 120px;
    color: #000000;
	font-family: Rajdhaniku;
	font-size:17px;
	padding-top: 35px;
    text-decoration: none;
}
.head-kanan ul li:hover{
	background-color: #E3E2E2;
}
.head-kanan a:hover{
	color: #F37429; 
}
.isi{
	width: 100%;
	height: 670px;
	background-color: #F37429;
}
.bung-isi{
	width: 1100px;
	height: 670px;
	margin: 0 auto;
}
.isi-atas{
	width: 100%;
	height: 170px;
	border-bottom: 1px solid #FFF;
}
.isi-atas h1{
	display: inline-block;
	padding-top: 90px;
	padding-left: 20px;
	color: #FFF;
	font-family: Rajdhaniku;
}
.isi-bawah{
	width: 100%;
	height: 500px;
	float: left;
}
.isi-kanan{
	width: 70%;
	height: 500px;
	float: right;
}
.isi-kanan fieldset{
	margin-top: 40px;
	margin-bottom: 30px;
	font-family: notice;
	color: #FFF;
	border: none;
}
.isi-kanan fieldset h2{
	font-family: Rajdhaniku;
	color: #FFDA39;
}
.isi-kiri{
	width: 30%;
	height: 500px;
	float:	left; 
}
.isi-kiri img{
	padding-top: 45px;
}
.footer{
	width: 100%;
	padding-top: 20px;
	height: auto;
	float: left;
	background-color: #2C2826;
}
.foot-atas{
	display: inline-block;
	width: 100%;
	height: 25px;
	border-bottom: 1px solid #FFF;
	float: left;
}
.foot-atas a{
	margin-left: 30px; 
	color: #FFFFFF;
	font-family: Rajdhaniku;
	text-decoration: none;
}
.foot-atas a:hover{
	border-bottom: 1px solid #FFFFFF; 
}
.foot-bawah{
	width: 100%;
	height: 120px;
	box-sizing: border-box;
}
.foot-log{
	padding-top: 40px; 
	padding-left: 20px; 
}
.copy-right{
	padding-top: 30px;
	padding-right: 30px;
	float:right;
	font-family:Rajdhaniku;
	color:#FFFFFF;
}
